@import "tailwindcss";
@plugin "daisyui";

.swiper-pagination-bullet{
    background-color: orangered !important;
    width: 12px !important;
    height: 12px !important;
}
.swiper-wrapper{
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important; 
}
